---
import PageLayout from "../../layouts/Base.astro";

const meta = {
  description: "Top 50 Games - A curated list of my favorites.",
  title: "Top 50 Games",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">Top 50 Games</h1>
  <div class="prose prose-sm prose-cactus max-w-none">
    <p>Here's a collection of my personal best albums:</p>
    <ol>

      <li>Nirvana - Nevermind</li>
      <li>Soundgarden - Superunknown</li>
      <li>Pendulum - Immersion</li>
      <li>Drenge - Drenge</li>
      <li>Beck - Mellow Gold</li>
      <li>Audioslave - Audioslave</li>
      <li>Blood Red Shoes - Box of Secrets</li>
      <li>Michael Cera - True That</li>
      <li>Bonobo - Days to Come</li>
      <li>Chris Cornell - Euphoria Morning</li>
      <li>Fu Manchu - The Action is Go</li>
      <li>The Pixies - Doolittle</li>
      <li>Kasabian - Kasabian</li>
      <li>The Vines - Highly Evolved</li>
      <li>Twenty One Pilots - Blurryface</li>
      <li>Sublime - ?</li>
      <li>The Offspring - Smash</li>
      <li>Stone Temple Pilots - Purple</li>
      <li>Incubus - S.C.I.E.N.C.E.</li>
      <li>Danger Mouse & Daniele Luppi - Rome	</li>
      <li>Hater - Hater</li>
      <li>Jet - Shine On</li>
      <li>The Hives - The Black and White album</li>
      <li>Rage Against The Machine - Rage Against The Machine</li>
      <li>Stereo Banana - Munje Nebjeske</li>
      <li>Repetitor - Sve Što Vidim je Prvi Put</li>
      <li>Straight Mickey and The Boyz - Straight Mickey and The Boyz</li>
      <li>Red Hot Chili Peppers - Mother's Milk</li>
      <li>The White Stripes - Elephant</li>
      <li>Blind Melon - Blind Melon</li>
      <li>AFK Cat On Fire - all 4 songs :)</li>
      <li>Eyesburn - Fool Control</li>
      <li>The Combs - To Our Wealthy Cousins</li>
      <li>Foster the People - Torches</li>
      <li>Pearl Jam - Ten</li>
      <li>Mad Season - Above</li>
      <li>Limp Bizkit - Significant Other</li>
      <li>Quantic - The 5th Exotic</li>
      <li>Black Sabbath - Paranoid</li>
      <li>Led Zeppelin - II</li>
      <li>Ty Segall - Manipulator</li>
      <li>Jamiroquai - High Times: Singles</li>
      <li>Porcupine Tree - Lightbulb Sun</li>
      <li>Queens of the Stone Age - Songs for the Deaf</li>
      <li>Eagles of Death Metal - Heart On</li>
      <li>Partibrejkers - Partibrejkers I</li>
      <li>Children Collide - The Long Now</li>
      <li>Darkwood Dub - Elektropionir</li>
      <li>Temple of the Dog - Temple of the Dog</li>
      <li>The Raconteurs - Consolers of the Lonely</li>
    </ol>
  </div>
</PageLayout>
