---
import PageLayout from "../../layouts/Base.astro";

const meta = {
  description: "Top 50 Games - A curated list of my favorites.",
  title: "Top 50 Games",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">Top 50 Games</h1>
  <div class="prose prose-sm prose-cactus max-w-none">
    <p>Here's a collection of my personal best games.</p>
    <ol>
      <li>Papo & Yo</li>
      <li>Call of Juarez: Bound in Blood</li>
      <li>Jazz Jackrabbit 2</li>
      <li>PES 6</li>
      <li>Brothers: Tale of Two Sons</li>
      <li>Spec Ops: The Line</li>
      <li>The Cave</li>
      <li>GTA Vice City</li>
      <li>Portal 2</li>
      <li>Batman: Arkham Asylum</li>
      <li>Tomb Raider (2013)</li>
      <li>Assassin's Creed: Brotherhood</li>
      <li>Counter Strike 1.6</li>
      <li>Bulletstorm</li>
      <li>Warcraft III: The Frozen Throne</li>
      <li>Trine 2</li>
      <li>Crysis</li>
      <li>Mafia: Definitive Edition</li>
      <li>Call of Duty 2</li>
      <li>Guitar Hero III</li>
      <li>Alice: Madness Returns</li>
      <li>L.A. Noire</li>
      <li>Worms World Party</li>
      <li>Metro: Last Light</li>
      <li>The Matrix: Path of Neo</li>
      <li>Tricky Towers</li>
      <li>Split Second</li>
      <li>Limbo</li>
      <li>Star Wars: Racer</li>
      <li>Sims 1</li>
      <li>Plants vs Zombies</li>
      <li>Mortal Kombat 4</li>
      <li>The Last of Us: Part I</li>
      <li>South Park: The Stick of Truth</li>
      <li>Resident Evil 2: Remake</li>
      <li>Neighbours from Hell</li>
      <li>Tony Hawk's Pro Skater 4</li>
      <li>NBA 2K9</li>
      <li>Call of Juarez: The Gunslinger</li>
      <li>The Last of Us: Part I</li>
      <li>Inside</li>
      <li>Journey to the Savage Planet</li>
      <li>What Remains of Edith Finch</li>
      <li>Firewatch</li>
      <li>Ingress</li>
      <li>The Legend of Zelda: Breath of the Wild</li>
      <li>BioShock</li>
      <li>Green Hell</li>
      <li>A Way Out</li>
      <li>Jackbox Party Pack 3</li>
    </ol>
  </div>
</PageLayout>
