---
import PageLayout from "../../layouts/Base.astro";

const meta = {
  description: "Top 50 Moves & TV Shows - A curated list of my favorite movies and televison shows.",
  title: "Top 50 Movies & TV Shows",
};
---

<PageLayout meta={meta}>
  <h1 class="title mb-6">Top 50 Movies & TV Shows</h1>
  <div class="prose prose-sm prose-cactus max-w-none">
    <p>Oh boy, this was a tough one. Mainly because my memory of movies and TV shows is pretty bad.</p>
    <p>Rather than attempting to recall every plot in detail, I ended up creating this list based purely on the emotions this visual content left me with.</p>
    <p>The list starts with a few TV shows (I must admin, I'm not much of a binge-watcher) and then continues with movies.</p>
    <ol>
      <li>Breaking Bad</li>
      <li>Wilfred</li>
      <li>Chernobyl</li>
      <li>Dark</li>
      <li>South Park</li>
      <li>Flashforward</li>
      <li>The Last of Us</li>
      <li>Death Note</li>
      <li>Louie</li>
      <li>Jutro će promeniti sve</li>
      <li>Scott Pilgrim vs The World</li>
      <li>Groundhog Day</li>
      <li>Eternal Sunshine of the Spotless Mind</li>
      <li>Perfume: The Story of the Murderer</li>
      <li>The Matrix</li>
      <li>American Beauty</li>
      <li>Forrest Gump</li>
      <li>The Green Mile</li>
      <li>Joker</li>
      <li>Mary and Max</li>
      <li>Super Troopers</li>
      <li>Paranormal Activity</li>
      <li>Alice in Wonderland (1951)</li>
      <li>Beetlejuice</li>
      <li>The Wackness</li>
      <li>Il Mare</li>
      <li>The Fifth Element</li>
      <li>Munje</li>
      <li>Kad porastem biću kengur</li>
      <li>Hadersfild</li>
      <li>The Addams Family (1991)</li>
      <li>It's Such a Beautiful Day</li>
      <li>Paranormal Activity</li>
      <li>Indigo Kristal</li>
      <li>Poor Things</li>
      <li>Kurt Cobain: Montage of Heck</li>
      <li>Palm Springs</li>
      <li>Lion</li>
      <li>Back to the Future</li>
      <li>Shutter Island</li>
      <li>Batman Begins</li>
      <li>Tucker & Dale vs Evil</li>
      <li>The Sixth Sense</li>
      <li>The Darjeeling Limited</li>
      <li>Sausage Party</li>
      <li>Amelie</li>
      <li>The Silver Linings Playbook</li>
      <li>Who Framed Roger Rabbit</li>
      <li>The Lord of the Rings: The Fellowship of the Ring</li>
      <li>Clerks</li>
    </ol>
  </div>
</PageLayout>
