---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I’m a software engineer with some hobbies.
		</p>
    <p>
      Some of my interests include calisthenics, table tennis, biking, camping, backpacking, gaming,
      guitar, beer, health. The list keeps growing as I keep exploring.
    </p>
    <p>
      You can view my CV <a href="/Đorđe-Andrejević-CV-Resume.pdf" download="My_CV" class="btn btn-primary">here</a> or reach out via <span id="email">email</span>.
    </p>
    <script>
      const email = "andrejevic.djordje@gmail.com".replace("example", "example");
      document.getElementById("email").innerHTML = `<a href="mailto:${email}">${email}</a>`;
    </script>
    <!--TODO: contact form-->
	</div>
</PageLayout>
